# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List of popular languages for Data Science
+ List of popular libraries used by Data Scientists
+ Common math operations

Some of the popular languages that Data Scientists use are:
1. Python;
2. R;
3. SQL.

Some of the commonly used libraries used by Data Scientists include:

1. Pandas;
2. NumPy;
3. Scikit-learn.

Data Science Tools |
-------------------|
Rstudio            |
Visual Studio Code |
Anaconda           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Jo√£o Gomes